<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinderhk.litemusic.mapper.CosConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cinderhk.litemusic.entity.CosConfig">
        <id column="secretId" property="secretId" />
        <result column="secretKey" property="secretKey" />
        <result column="bucketName" property="bucketName" />
        <result column="region" property="region" />
    </resultMap>

</mapper>
